<header class="bar bar-nav">
	<h1 class="title">Meghan and Dan</h1>
</header>
	
<div class="content">
	<div class="content-padded">
	    <h1 class="center">Wedding Extravaganza</h1>

		<div class="card">
			<ul class="table-view">
			  <li class="table-view-cell">
			    <a class="navigate-right" href="<%= md_path %>" data-transition="slide-in">
			      <strong>Meghan and Dan</strong>
			    </a>
			  </li>
			  <li class="table-view-cell">
			    <a class="navigate-right" href="<%= guestbook_path %>" data-transition="slide-in">
			      <strong>Guest Book</strong>
			    </a>
			  </li>
			  <li class="table-view-cell">
			    <a class="navigate-right" href="<%= venue_path %>" data-transition="slide-in">
			      <strong>Schedule</strong>
			    </a>
			  </li>
			  <li class="table-view-cell">
			    <a class="navigate-right" href="<%= venue_path %>" data-transition="slide-in">
			      <strong>Venue</strong>
			    </a>
			  </li>
			  <li class="table-view-cell">
			    <a class="navigate-right" href="<%= wedding_party_path %>" data-transition="slide-in">
			      <strong>Wedding Party</strong>
			    </a>
			  </li>
			</ul>
		</div>
	</div>
</div>



