<header class="bar bar-nav">
	<a class="pull-left" href="<%= root_path %>" data-transition="slide-out">
		<span class="icon icon-left-nav"></span> 
	</a>
	<h1 class="title">Meghan and Dan</h1>
</header>

<div class="content">
	<div class="content-padded">

		<h1 class="center">Wedding Party</h1>
		
		<div class="card">
			<ul class="table-view">
			  <li class="table-view-cell">
			    <a class="navigate-right" href="<%= md_path %>" data-transition="slide-in">
			      <strong>Meghan and Dan</strong>
			    </a>
			  </li>
			  <li class="table-view-cell">
			    <a class="navigate-right" href="<%= venue_path %>" data-transition="slide-in">
			      <strong>Bridesmaids</strong>
			    </a>
			  </li>
			  <li class="table-view-cell">
			    <a class="navigate-right" href="<%= wedding_party_path %>" data-transition="slide-in">
			      <strong>Groomsmen</strong>
			    </a>
			  </li>
			  <li class="table-view-cell">
			    <a class="navigate-right" href="<%= wedding_party_path %>" data-transition="slide-in">
			      <strong>Officient</strong>
			    </a>
			  </li>
			</ul>
		</div>
		
	</div>
</div>