<!DOCTYPE html>
<html>
	
	<head>
	  <title>Meghan and Dan</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	
	  <!-- Sets initial viewport load and disables zooming  -->
	  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	
	  <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
	  <meta name="apple-mobile-web-app-capable" content="yes">
	  <meta name="apple-mobile-web-app-status-bar-style" content="black">
	
	  <!-- Set Apple icons for when prototype is saved to home screen -->
	  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="touch-icons/apple-touch-icon-114x114.png">
	  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="touch-icons/apple-touch-icon-72x72.png">
	  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="touch-icons/apple-touch-icon-57x57.png">
	</head>
	
	<body>
	
		<%= yield %>
		
		<% unless @no_bar %>
		
			<nav class="bar bar-tab">
			  <a class="tab-item active" href="<%= home_path %>" data-transition="fade">
			    <span class="icon icon-home"></span>
			    <span class="tab-label">Home</span>
			  </a>
			  <a class="tab-item active" href="<%= wedding_party_path %>" data-transition="fade">
			    <span class="icon icon-person"></span>
			    <span class="tab-label">Wedding Party</span>
			  </a>
			  <a class="tab-item active" href="<%= schedule_path %>" data-transition="fade">
			    <span class="icon icon-info"></span>
			    <span class="tab-label">Schedule</span>
			  </a>
			</nav>
			
		<% end %>
	  
	</body>

</html>
